.hero-container {
  background-color: #fff;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
}

.me-img {
  margin-left: 26em;
}

.title {
  font-family: 'Opake Heavy', 'Modak', cursive;
}

.text-block {
  position: absolute;
  background-color: #E4F2F2;
  color: #262626;
  padding: 20px;
  width: 33em;
  font-size: 14px;
  font-family: 'Sofia Pro', 'Spartan', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 24em;
  font-size: 16px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }

  .me-img {
  display: none;
}

.text-block {
  width: 400px;
  margin: auto;
}

}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .text-block {
  width: 400px;
  margin: auto;
}

}