.other {
  font-family: 'Opake Heavy','Modak', cursive;
  font-size: 24px;
}

.otherTitle {
  font-size: 24px;
  font-family: 'Opake Heavy','Modak', cursive;
  padding-bottom: 10px;
  padding-left: 30px;
}

.otherCards {
  /*padding: 2rem;*/
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.otherCards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.otherCards__wrapper {
  position: relative;
  margin-top: 20px; /*20px 0 20px*/
}

.otherCards__items {
  margin-bottom: 24px;
  flex-direction: row;
}

.otherCards__item {
  display: flex;
  margin: 1rem;
  border-radius: 5px;
}

.otherCards__item__info {
  padding: 20px 20px 20px;
  width: 600px;
}

.otherCards__item__info2 {
  padding: 20px 20px 20px;
  width: 400px;
}

.otherCards__nl__info {
  padding: 0 20px;
  width: 600px;
}

.otherCards__item__text {
  color: #262626;
  font-size: 16px;
  line-height: 24px;
}

.other_img {
	margin-right: 30px;
	width: 70px;
}

.nl_art {
  width: 150px;
  margin-right: 20px;
}

.nl_art:hover {
  -ms-transform: scale(4.0); /* IE 9 */
  -webkit-transform: scale(4.0); /* Safari 3-8 */
  transform: scale(4.0); 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.netlight {
  max-height: 230px;
  width: auto;
}

.NLtext {
  margin-top: 24em;
}

.img-menu {
  display: none;
  flex-direction: column;
  max-width: 400px;
  height: auto;
  position: absolute;
  top: 80px;
  opacity: 1;
  transition: all 0.5s ease;
}

.img-menu.active {
  display: flex;
  justify-content: center;
  background: #E4F2F2;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 1;
}

.img-modal {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.work-right {
  position: absolute;
  top: 50%;
  left: 95%;
  font-size: 1rem;
  color: #262626;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.work-left {
  position: absolute;
  top: 50%;
  right: 95%;
  font-size: 1rem;
  color: #262626;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media only screen and (max-width: 960px) {
  .otherCards__items {
    margin-bottom: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

}


@media only screen and (max-width: 1200px) {

  .otherCards__items {
    margin-bottom: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .otherCards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .otherCards__item {
    margin-bottom: 2rem;
    /*width: 600px;*/
  }

  .otherCards__item__info, .otherCards__item__info2 {
    width: 600px;
  }

  .work-right {
    left: 105%;
  }

  .work-left {
    right: 105%;
  }

  .netlight {
    max-width: 400px;
  }
}

@media screen and (max-width: 414px) {
  .otherCards__item__info, .otherCards__item__info2 {
    overflow: hidden;
  }

  .otherCards__item {
    margin-bottom: 2rem;
    width: 400px;
  }

  p, a, h5 {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
}

  .otherCards__item__text {
    font-size: 15px;
  }

  .labelTitle {
    font-size: 26px !important;
  }

  .netlight {
    max-height: 180px;
    width: auto;
}

  .work-right {
    left: 100%;
    font-size: 20px;
    color: #49a6a6;
  }

  .work-left {
    right: 100%;
    font-size: 20px;
    color: #49a6a6;
  }

  .NLtext {
    margin-top: 22em;
    padding-left: 2em;
    width: 26em;
  }

  .otherCards__nl__info {
    padding: 0 20px;
    width: 400px;
    margin-bottom: 2.5em;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) 
{ _::-webkit-full-page-media, _:future, 

  .NLtext {
    margin-top: 14em;
    width: 400px;
    font-size: 14px !important;
  }
}