.skillCards {
  padding: 2rem;
}

h1 {
  text-align: center;
  /*font-size: 24px;*/
}

.labelTitle {
  font-size: 32px;
  font-family:'Modak', cursive; /*'Opake Heavy', */
  padding-bottom: 10px;
  letter-spacing: 0.95px;
  word-spacing: 1.4px;
  line-height: 1.2;
}

.eduTitle {
  /*font-family: 'Sofia Pro', 'Spartan', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #262626;
  width: inherit;
}

/*.skillCards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.skillCards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}*/

.skillCards__item {
  display: flex;
  margin: 0 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  justify-content: center;
}

.skillCards__item__info {
  padding: 20px 20px 20px;
  width: 270px;
}

.skillCards__item__text {
  color: #262626;
  font-size: 16px;
  line-height: 24px;
}

.title {
  margin-bottom: 1em;
  margin-top: revert;
}

.skillCards__items {
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
}

.skillGroup {
  display: flex;
  justify-content: center;
}

.flag {
  font-size: 20px;
}

@media only screen and (max-width: 1024px) {
  .labelTitle {
  font-size: 32px;
  }
}

@media only screen and (min-width: 768px) {
  .skillCards__items {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .skillCards__items {
    display: flex;
  }
}

@media screen and (max-width: 414px) {
  .skillGroup {
      flex-direction: column;
      justify-content: center;
  }

  .skillCards__items {
    display: flex;
  }

  .skillCards__item {
    margin-bottom: 2em;
  }

  .skillCards__item__info {
    width: 22em; /*20em*/
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  .title {
    font-size: 28px !important;
  }

  .other-skill {
    display: block;
  }
}

/* Portrait iPhone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .skillGroup {
      flex-direction: column;
      justify-content: center;
    }

    .skillCards__items {
      display: flex;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) 
{ _::-webkit-full-page-media, _:future, 
  .eduTitle {
  /*font-family: 'Sofia Pro', 'Spartan', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  }

  .otherCards__item__info {
    max-width: 600px;
  }
}