.skillCards {
  padding: 2rem;
}

h1 {
  text-align: center;
  /*font-size: 24px;*/
}

.labelTitle {
  font-size: 24px;
  font-family: 'Opake Heavy';
  padding-bottom: 10px;
}

.eduTitle {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #262626;
}

.skillCards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.skillCards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

/*.skillCards__items {
  margin-bottom: 24px;
}*/

.skillCards__item {
  display: flex;
  /*flex: 1;*/
  margin: 0 1rem;
  border-radius: 5px;
}

.skillCards__item__info {
  padding: 20px 20px 20px;
  width: 270px; /*width: 270px;*/
}

.skillCards__item__text {
  color: #262626;
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .skillCards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .skillCards__item {
    margin-bottom: 2rem;
  }
}